.navBar {
  background-color: #8aaae5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navLinks {
  color: white;
  margin: 10px;
  font-family: "fantasy";
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  border-color: aqua;
  background-color: #667eab;
}
.header {
  color: white;
}
