.navBar {
  background-color: #8aaae5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navLinks {
  color: white;
  margin: 20px;
  margin-left: 150px;
}
.header {
  color: white;
}
